<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shristi.timerv7">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TIMERv7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shristi.timerv7.StartActivity"
            android:label="TIMERv7"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shristi.timerv7.SetupDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shristi.timerv7.PreSlideSetup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shristi.timerv7.TimerSetup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shristi.timerv7.PresentationActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>